<!-- FreeSwitch Credentials -->
<X-PRE-PROCESS cmd="set" data="default_password=1234"/>
<X-PRE-PROCESS cmd="set" data="event_socket_password=ClueCon"/>

<!-- External Gateway Settings -->
<X-PRE-PROCESS cmd="set" data="didlogic_username=user"/>
<X-PRE-PROCESS cmd="set" data="didlogic_password=secret"/>
<X-PRE-PROCESS cmd="set" data="outgoing_did_number=outgoing_caller_id_for_external_gateway"/>
<X-PRE-PROCESS cmd="set" data="test_number=number_to_dial_to_when_testing_external_gateway"/>

<!-- Misc -->
<X-PRE-PROCESS cmd="set" data="test_incoming_call_number=caller_id_when_calling_from_softphone_to_chibi"/>

<!-- Production Chibi Server Credentials -->
<X-PRE-PROCESS cmd="set" data="cdr_host=https://production-server.herokuapp.com/call_data_records.xml"/>
<X-PRE-PROCESS cmd="set" data="cdr_credentials=user:secret"/>

<!-- IP Addresses -->
<X-PRE-PROCESS cmd="set" data="bind_server_ip=auto"/>
<X-PRE-PROCESS cmd="set" data="external_rtp_ip=auto-nat"/>
<X-PRE-PROCESS cmd="set" data="external_sip_ip=auto-nat"/>
