<!-- FreeSwitch Credentials -->
<X-PRE-PROCESS cmd="set" data="default_password=1234"/>
<X-PRE-PROCESS cmd="set" data="event_socket_password=ClueCon"/>

<!-- External Gateway Settings -->
<X-PRE-PROCESS cmd="set" data="didlogic_username=user"/>
<X-PRE-PROCESS cmd="set" data="didlogic_password=secret"/>
<X-PRE-PROCESS cmd="set" data="didlogic_realm=sip.sg.didlogic.net"/>
<X-PRE-PROCESS cmd="set" data="outgoing_did_number=outgoing_caller_id_for_external_gateway"/>
<X-PRE-PROCESS cmd="set" data="test_number=number_to_dial_to_when_testing_external_gateway"/>

<!-- Misc -->
<X-PRE-PROCESS cmd="set" data="test_incoming_call_number=caller_id_when_calling_from_softphone_to_chibi"/>

<!-- Production Chibi Server Credentials -->
<X-PRE-PROCESS cmd="set" data="cdr_host=https://production-server.herokuapp.com/call_data_records.xml"/>
<X-PRE-PROCESS cmd="set" data="cdr_credentials=user:secret"/>

<!-- IP Addresses -->
<X-PRE-PROCESS cmd="set" data="external_ip=auto-nat"/>

<!-- Codec Preferences -->
<X-PRE-PROCESS cmd="set" data="global_codec_prefs=G722,PCMU,PCMA,GSM,G729"/>

<!-- Rayo -->
<X-PRE-PROCESS cmd="set" data="rayo_domain_name=localhost"/>
<X-PRE-PROCESS cmd="set" data="rayo_shared_secret=secret"/>
<X-PRE-PROCESS cmd="set" data="rayo_ip=127.0.0.1"/>
<X-PRE-PROCESS cmd="set" data="rayo_port=5222"/>
<X-PRE-PROCESS cmd="set" data="rayo_user=adhearsion"/>
<X-PRE-PROCESS cmd="set" data="rayo_password=secret"/>


<!-- switch.conf.xml -->
<X-PRE-PROCESS cmd="set" data="rtp_start_port=16384"/>
<X-PRE-PROCESS cmd="set" data="rtp_end_port=16389"/>

<!-- Devbox ACL -->
<X-PRE-PROCESS cmd="set" data="devbox_acl=192.168.0.0/23"/>

<!-- gsmopen -->
<X-PRE-PROCESS cmd="set" data="gsmopen_mt_number=0716123456"/>
<X-PRE-PROCESS cmd="set" data="gsmopen_interface_name=gsm01"/>
<X-PRE-PROCESS cmd="set" data="gsmopen_imei=123456789012345"/>
<X-PRE-PROCESS cmd="set" data="gsmopen_imsi=123456789012345"/>
