files:
  "/etc/awslogs/config/cloudwatch.conf" :
     mode: "000600"
     owner: root
     group: root
     content: |
       [cron.log]
       log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/cron"]]}`
       log_stream_name={instance_id}
       file=/var/log/cron
