files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/backup_recordings.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/backup_recordings.log
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.backup_recordings.conf"
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/backup_recordings.log {
        size 10M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat %s
        olddir /var/log/rotated
      }
  "/etc/cron.hourly/cron.logrotate.elasticbeanstalk.backup_recordings.conf"
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      test -x /usr/sbin/logrotate || exit 0
      /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.backup_recordings.conf
